
<div class="mx-auto max-w-3xl mt-14">


{{# UPCOMING EVENTS #}}
{{partial:partials/type/htag-v2
    s_content="Insights"
    htag="h2"
    css_tag="section_title"
    css_tag_custom=""
    css_tag_overide=""
    is_link="true"
    has_decoration=""
    css_link=""
}} 


{{collection:insights as="entries" status:is="published" status:isnt="scheduled"  }}
    <div class="flex flex-col gap-y-6">
        
        {{ entries }}
               {{ partial:insights/partials/insights-card
                is_link="true" 
                aside_css="border p-6" 
                has_decoration="true" 
                data_theme="event_card"}}
          {{ /entries }}
       
    </div>
{{/collection:insights}}
         



</div>