{{ section:breadcrumbs }}
    {{ partial:partials/breadcrumbs/breadcrumbs }}
{{ /section:breadcrumbs }}
<div class="max-w-8xl mx-auto grid grid-cols-4 gap-4 pb-4">
	<div class="gap-4 grid">
		{{ partial:elements/templates/buttons/partials/button button_theme="default-on-white"}}
		{{ partial:elements/templates/buttons/partials/button show_icon="false" bg_theme="bg-white" button_theme="primary-on-white"}}
		{{ partial:elements/templates/buttons/partials/button show_icon="false" bg_theme="bg-black" bg_dark="true" button_theme="secondary-on-black"}}
		{{ partial:elements/templates/buttons/partials/button show_icon="false" bg_theme="bg-primary" bg_dark="true" button_theme="white-on-primary"}}
		{{ partial:elements/templates/buttons/partials/button show_icon="false" bg_theme="bg-secondary"  button_theme="white-on-secondary"}}
		
	</div>
	<div class="gap-4 grid">
		{{ partial:elements/templates/buttons/partials/button show_icon="true" button_theme="default-on-white"}}
		{{ partial:elements/templates/buttons/partials/button show_icon="true" bg_theme="bg-white" button_theme="primary-on-white"}}
		{{ partial:elements/templates/buttons/partials/button show_icon="true" bg_theme="bg-black" bg_dark="true" button_theme="secondary-on-black"}}
		{{ partial:elements/templates/buttons/partials/button show_icon="true" bg_theme="bg-primary" bg_dark="true" button_theme="white-on-primary"}}
		{{ partial:elements/templates/buttons/partials/button show_icon="true" bg_theme="bg-secondary"  button_theme="white-on-secondary"}}
	</div>
	<div class="gap-4 grid">
		{{ partial:elements/templates/buttons/partials/button-text button_theme="default-on-white"}}
		{{ partial:elements/templates/buttons/partials/button-text show_icon="false" bg_theme="bg-white" button_theme="primary-on-white"}}
		{{ partial:elements/templates/buttons/partials/button-text show_icon="false" bg_theme="bg-black" bg_dark="true" button_theme="secondary-on-black"}}
		{{ partial:elements/templates/buttons/partials/button-text show_icon="false" bg_theme="bg-primary" bg_dark="true" button_theme="white-on-primary"}}
		{{ partial:elements/templates/buttons/partials/button-text show_icon="false" bg_theme="bg-secondary"  button_theme="white-on-secondary"}}
	</div>
	<div class="gap-4 grid">
		{{ partial:elements/templates/buttons/partials/button-text show_icon="true" button_theme="default-on-white"}}
		{{ partial:elements/templates/buttons/partials/button-text show_icon="true" bg_theme="bg-white" button_theme="primary-on-white"}}
		{{ partial:elements/templates/buttons/partials/button-text show_icon="true" bg_theme="bg-black" bg_dark="true" button_theme="secondary-on-black"}}
		{{ partial:elements/templates/buttons/partials/button-text show_icon="true" bg_theme="bg-primary" bg_dark="true" button_theme="white-on-primary"}}
		{{ partial:elements/templates/buttons/partials/button-text show_icon="true" bg_theme="bg-secondary"  button_theme="white-on-secondary"}}
	</div>
</div>

<div class="max-w-8xl mx-auto grid grid-cols-4 gap-4 pb-4">
	<div class="gap-4 grid">
		{{ partial:elements/templates/buttons/partials/button show_icon="false" button_theme="default-on-white-o"}}
		{{ partial:elements/templates/buttons/partials/button show_icon="false" bg_theme="bg-white" button_theme="primary-on-white-o"}}
		{{ partial:elements/templates/buttons/partials/button show_icon="false" bg_theme="bg-black" bg_dark="true" button_theme="secondary-on-black-o"}}
		{{ partial:elements/templates/buttons/partials/button show_icon="false" bg_theme="bg-primary" bg_dark="true" button_theme="white-on-primary-o"}}
		{{ partial:elements/templates/buttons/partials/button show_icon="false" bg_theme="bg-secondary"  button_theme="white-on-secondary-o"}}	
	</div>
	<div class="gap-4 grid">
		{{ partial:elements/templates/buttons/partials/button show_icon="true" button_theme="default-on-white-o"}}
		{{ partial:elements/templates/buttons/partials/button show_icon="true" bg_theme="bg-white" button_theme="primary-on-white-o"}}
		{{ partial:elements/templates/buttons/partials/button show_icon="true" bg_theme="bg-black" bg_dark="true" button_theme="secondary-on-black-o"}}
		{{ partial:elements/templates/buttons/partials/button show_icon="true" bg_theme="bg-primary" bg_dark="true" button_theme="white-on-primary-o"}}
		{{ partial:elements/templates/buttons/partials/button show_icon="true" bg_theme="bg-secondary"  button_theme="white-on-secondary-o"}}	
	</div>
	
	
</div>