
<div class="">
   
    {{ collection:blog limit="1" as="posts" url:not="{ url }"}}
        <div class="space-y-6 mx-6 lg:max-w-3xl lg:mx-auto lg:pb-14">
            {{ posts }}
            {{ partial:partials/card/_card
                handle_prefix=""{{# Optional #}}

                show_card_head="true"
                show_card_body="true"
                show_card_title="true"
                show_card_desc="true"
                show_card_footer="true"
                
                css_card_outer="sm:flex"
                css_card_head="sm:flex-none sm:w-[250px]"
                css_card_body="px-6 py-6 sm:self-center"
                css_card_body_inner="space-y-2"
                css_card_footer="pt-6"

                {{# ••••••••••••••••••••••• #}}
                {{# TITLE  #}}
                {{# ••••••••••••••••••••••• #}}

                {{# DATA ----------------- #}}
                :title="title"
                {{# OPTIONS -------------- #}}
                tag="h3"
                is_link="true"  {{# true #}}
                    link_type="url"
                    title_notab="" {{# true #}}
                {{# ICON ----------------- #}}
                title_show_icon=""
                    {{# NOTE icon won't show unless 'is_link' is true #}}
                    title_flex="" {{# true=flex false=inline-flex #}}
                    title_icon_baseline="" {{# items-center #}}
                    title_icon_flip="" {{# left right #}}
                    title_icon_path="" {{# arrow_thin, caret etc #}}
                    title_icon_turn="" {{# 90 180 45 -90 -45 #}}
                    title_icon_css=""
                {{# CSS ----------------- #}}
                title_css="font-semibold text-2xl block"
                {{# NOTE use justify-between in link_css with title_flex set to true, to push icon left or right #}}
                link_css=""

                {{# ••••••••••••••••••••••• #}}
                {{# INTRO  #}}
                {{# ••••••••••••••••••••••• #}}

                {{# DATA ----------------- #}}
                :intro="blog_bard_intro"
                {{# OPTIONS -------------- #}}
                intro_truncate="true"
                intro_truncate_chars="100"
                {{# CSS ----------------- #}}
                intro_css="text-sm"
                
                {{# ••••••••••••••••••••••• #}}
                {{# BUTTON  #}}
                {{# ••••••••••••••••••••••• #}}
                
                {{# DATA ----------------- #}}
                button_text="Read More"

                {{# OPTIONS -------------- #}}
                button_type="" {{# submit #}}
                button_notab="false"

                {{# ICON ----------------- #}}
                button_show_icon="false"
                    button_icon_flip="" {{# default right #}}
                    button_icon_path="" {{# arrow_thin, caret etc #}}
                    button_icon_turn="" {{# 90 180 45 -90 -45 #}}
                    button_icon_css=""

                {{# CSS ----------------- #}}
                button_size="sm"
                text_size="sm"
                has_border="true"
                {{# button_format="zero"  #}}
                button_theme=""

                {{# ••••••••••••••••••••••• #}}
                {{# IMAGE  #}}
                {{# ••••••••••••••••••••••• #}}
                
                {{# DATA ----------------- #}}
                 :assets_tag="thumbnail"
                {{# OPTIONS -------------- #}}
                art_direction="true" {{# comment out img_ratio if this is set to true #}}
                art_direction_type="" {{# use this it insert a new partial, the value must match the filename located at partials/glide/partials/picture/#}}
                {{#img_ratio="classic"   wide, classic, square,leave blank or orginal #}}
                {{# placeholder_img="1"   #}}
                {{# sizes="(min-width: 640px) 250px, (min-width: 320px) 95vw, 95vw" #}}
                link_img="true"  {{# true #}}
                    img_notab="true" {{# true #}}
                lazy_load=""
                {{# CSS ----------------- #}}
                figure_css=""
                picture_css=""
                
               img_css=""


            }}
            {{ /posts }}
        </div>
    {{ /collection:blog }}
</div>



