{{ _today_start = today | modify_date('midnight') }}
<div class="mx-auto max-w-3xl mt-14 mb-96">
  
{{# Shows "Archived Event" when end date is before today (past events) #}}
 {{if event_date_field:end < _today_start }}
             {{partial:partials/type/htag-v2
                s_content="Archived Event"
                htag="h2"
                css_tag="section_title"
                css_tag_custom=""
                css_tag_overide="border inline-block px-2 py-1 mb-2"
                is_link="true"
                has_decoration=""
                css_link=""
            }} 
{{/if}}
  {{ partial:events/partials/event-card  show_book_meeting="" show_event_website="true" show_category_and_event_type="true"}}

  {{ partial:events/partials/_newsletter }}

</div>

