 <aside data-theme="{{data_theme}}" class="{{aside_css}} bg-surface-card border-border-color">
    
    {{# <span class="text-heading">Join L.B. Foster at: </span> #}}
    {{partial:partials/type/htag-v2
        :s_content="title"
        htag="h2"
        css_tag="event_listing_title"
        css_tag_custom=""
        css_tag_overide=""
        :is_link="is_link"
        :has_decoration="has_decoration"
        css_link=""
    }}
    {{if show_description}}
        {{partial:partials/bard/bard 
            :bard_handle="event_description"
            has_sets=""
            css=""
            css_custom="mt-1 mb-4 text-body"
            css_layout="mb-4"
        }}
    {{/if}}
   
    {{# Shows button if event is after _today_start #}}
    {{if show_book_meeting & event_date_field:end >= _today_start}}
       
                        {{ partial:link-button/link-button 
                      is_ahref="" {{# true #}}
                      style="" {{# link #}}
                      data_theme=""
                      custom_css="mb-6"
                      font_size="" {{# xs, sm , md, lg #}}
                      disabled=""
                      button_label="Book Meeting"
                      show_icon="" {{# true #}}
                      icon_flip="" {{# true #}}
                      icon_path="" {{# arrow_thin #}}
                      link_type="url"
                      url=""
                      notab=""
                      text_align=""
                      lowercase="" {{# true #}}
                      radius="" {{# sm , md, lg, full #}}
                    }}

    {{/if}}

    <ul class="list-disc mt-2 list-inside text-body">
        {{if show_booth_number && booth_number}}<li><strong>Booth: {{booth_number}}</strong></li>{{/if}}

        {{if formats:title == 'Online'}}
        <li><strong>{{event_date_field:start}}</strong></li>
        {{elseif formats:title == 'In Person'}}
        <li><strong>{{event_date_field:start}} - {{event_date_field:end}}</strong></li>
        {{/if}}

        {{if show_location}} 
        <li>Location: {{event_location}}</li> {{/if}}
        {{if show_event_website}} 
        <li >Event website: <a href="{{event_website}}" class="underline hover:no-underline">{{event_website | parse_url('host') }}</a></li> 
        {{/if}}                   
    </ul>
  
    {{if show_category_and_event_type}}
    <ul class="list-disc mt-4 list-inside text-sm">
        <li><a href="{{industries:url}}">Industry: <span class="underline hover:no-underline">{{industries:title}}</span></a></li>
        <li><a href="{{formats:url}}">Format: <span class="underline hover:no-underline">{{formats:title}}</span></a></li>
    </ul>
    {{/if}}
    
    

</aside>