 <aside data-theme="{{data_theme}}" class="{{aside_css}} bg-surface-card border-border-color">
    
    {{partial:partials/type/htag-v2
        :s_content="title"
        htag="h2"
        css_tag=""
        css_tag_custom=""
        css_tag_overide=""
        :is_link="is_link"
        :has_decoration="has_decoration"
        css_link=""
    }}
     {{if show_description}}
        {{partial:partials/bard/bard 
            :bard_handle="event_description"
            has_sets=""
            css="body-sm"
            css_custom="text-lg mt-1 mb-4 text-body"
            css_layout="mb-4"
        }}
    {{/if}}
    <ul class=" text-xs list-disc mt-2 list-inside text-body">
       

        {{if formats:title == 'Online'}}
        <li><strong>{{event_date_field:start}}</strong></li>
        {{elseif formats:title == 'In Person'}}
        <li><strong>{{event_date_field:start}} - {{event_date_field:end}}</strong></li>
        {{/if}}

        
        <li>Location: {{event_location}}</li> 
                         
    </ul>

    
    

</aside>