 <aside data-theme="{{data_theme}}" class="{{aside_css}} bg-surface-card border-border-color">
    
    {{partial:partials/type/htag-v2
        :s_content="title"
        htag="h2"
        css_tag="event_listing_title"
        css_tag_custom=""
        css_tag_overide=""
        :is_link="is_link"
        :has_decoration="has_decoration"
        css_link=""
    }}
    <p class="text-lg mt-1 mb-4 text-body">{{event_description}}</p>
    <ul class="list-disc mt-2 list-inside text-body">
        <li><strong>Booth: {{booth_number}}</strong></li>
        <li><strong>{{event_date_field:start}} - {{event_date_field:end}}</strong></li>
        <li>{{event_location}}</li> 
        {{if show_event_website}} 
        <li >Event website: <a href="{{event_website}}" class="underline hover:no-underline">{{event_website | parse_url('host') }}</a></li> 
        {{/if}}                   
    </ul>
    {{if show_category_and_event_type}}
    <ul class="list-disc mt-4 list-inside text-sm">
        <li><a href="{{categories:url}}">Industry: <span class="underline hover:no-underline">{{categories:title}}</span></a></li>
        <li><a href="{{event_type:url}}">Event type: <span class="underline hover:no-underline">{{event_type:title}}</span></a></li>
    </ul>
    {{/if}}
    
    

</aside>