{{ section:breadcrumbs }}
    {{ partial:partials/breadcrumbs/breadcrumbs }}
{{ /section:breadcrumbs }}

<div class="max-w-8xl mx-auto grid grid-cols-6 gap-4 pb-4 mb-8">
	{{ partial:elements/templates/swatches/partials/swatches css="bg-neutral-50" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-neutral-100" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-neutral-200" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-neutral-300" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-neutral-400" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-neutral-500" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-neutral-600" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-neutral-700" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-neutral-800" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-neutral-900" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-neutral-950" }}
</div>
<div class="max-w-8xl mx-auto grid grid-cols-6 gap-4 pb-4 mb-8">
	{{ partial:elements/templates/swatches/partials/swatches css="bg-primary-50" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-primary-100" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-primary-200" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-primary-300" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-primary-400" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-primary-500" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-primary-600" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-primary-700" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-primary-800" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-primary-900" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-primary-950" }}
</div>
<div class="max-w-8xl mx-auto grid grid-cols-6 gap-4 pb-4 mb-8">
	{{ partial:elements/templates/swatches/partials/swatches css="bg-secondary-50" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-secondary-100" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-secondary-200" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-secondary-300" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-secondary-400" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-secondary-500" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-secondary-600" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-secondary-700" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-secondary-800" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-secondary-900" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-secondary-950" }}
</div>
<div class="max-w-8xl mx-auto grid grid-cols-6 gap-4 pb-4 mb-8">
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-primary-500"  }}

</div>

<div class="max-w-8xl mx-auto grid grid-cols-4 gap-4 pb-4">
	<div class="gap-4 grid">
		{{ partial:elements/templates/swatches/partials/swatches css="" css_theme="bg-color-mint-500" }}
		{{ partial:elements/templates/swatches/partials/swatches css="bg-color-primary-50" }}
		{{ partial:elements/templates/swatches/partials/swatches css="bg-black" }}

		{{ partial:elements/templates/swatches/partials/swatches css="bg-primary" }}
		{{ partial:elements/templates/swatches/partials/swatches css="bg-primary-action" }}

		{{ partial:elements/templates/swatches/partials/swatches css="bg-secondary" }}
		{{ partial:elements/templates/swatches/partials/swatches css="bg-secondary-action" }}

		{{ partial:elements/templates/swatches/partials/swatches css="bg-disabled" }}
		{{ partial:elements/templates/swatches/partials/swatches css="bg-success" }}
		{{ partial:elements/templates/swatches/partials/swatches css="bg-success-action" }}
		{{ partial:elements/templates/swatches/partials/swatches css="bg-error" }}
		{{ partial:elements/templates/swatches/partials/swatches css="bg-error-action" }}
		{{ partial:elements/templates/swatches/partials/swatches css="bg-warning" }}
		{{ partial:elements/templates/swatches/partials/swatches css="bg-warning-action" }}
		{{ partial:elements/templates/swatches/partials/swatches css="bg-information" }}		
		{{ partial:elements/templates/swatches/partials/swatches css="bg-information-action" }}		
	</div>

	<div class="gap-4 grid">
		{{ partial:elements/templates/swatches/partials/swatches css_theme="border-page" css="border" }}
		{{ partial:elements/templates/swatches/partials/swatches css_theme="border-white" css="border" }}
		{{ partial:elements/templates/swatches/partials/swatches css_theme="border-black" css="border" }}

		{{ partial:elements/templates/swatches/partials/swatches css_theme="border-primary" css="border" }}
		{{ partial:elements/templates/swatches/partials/swatches css_theme="border-primary-action" css="border" }}

		{{ partial:elements/templates/swatches/partials/swatches css_theme="border-secondary" css="border" }}
		{{ partial:elements/templates/swatches/partials/swatches css_theme="border-secondary-action" css="border" }}

		{{ partial:elements/templates/swatches/partials/swatches css_theme="border-disabled" css="border" }}
		{{ partial:elements/templates/swatches/partials/swatches css_theme="border-success" css="border" }}
		{{ partial:elements/templates/swatches/partials/swatches css_theme="border-success-action" css="border" }}
		{{ partial:elements/templates/swatches/partials/swatches css_theme="border-error" css="border" }}
		{{ partial:elements/templates/swatches/partials/swatches css_theme="border-error-action" css="border" }}
		{{ partial:elements/templates/swatches/partials/swatches css_theme="border-warning" css="border" }}
		{{ partial:elements/templates/swatches/partials/swatches css_theme="border-warning-action" css="border" }}
		{{ partial:elements/templates/swatches/partials/swatches css_theme="border-information" css="border" }}		
		{{ partial:elements/templates/swatches/partials/swatches css_theme="border-information-action" css="border" }}
	</div>	

	<div class="gap-4 grid">
		{{ partial:elements/templates/swatches/partials/swatches-text css_theme="text-page" css="font-semibold text-xl" }}
		{{ partial:elements/templates/swatches/partials/swatches-text css_theme="text-white" css="font-semibold text-xl" }}
		{{ partial:elements/templates/swatches/partials/swatches-text css_theme="text-on-white" css="font-semibold text-xl"  bg_css="bg-white"}}
		{{ partial:elements/templates/swatches/partials/swatches-text css_theme="text-black" css="font-semibold text-xl" }}
		{{ partial:elements/templates/swatches/partials/swatches-text css_theme="text-on-black" css="font-semibold text-xl"  bg_css="bg-black"}}
		{{ partial:elements/templates/swatches/partials/swatches-text css_theme="text-body" css="font-semibold text-xl" }}
		{{ partial:elements/templates/swatches/partials/swatches-text css_theme="text-caption" css="font-semibold text-xl" }}
		{{ partial:elements/templates/swatches/partials/swatches-text css_theme="text-primary" css="font-semibold text-xl"}}
		{{ partial:elements/templates/swatches/partials/swatches-text css_theme="text-on-primary" css="font-semibold text-xl" bg_css="bg-primary"}}
		{{ partial:elements/templates/swatches/partials/swatches-text css_theme="text-secondary" css="font-semibold text-xl" }}
		{{ partial:elements/templates/swatches/partials/swatches-text css_theme="text-on-secondary" css="font-semibold text-xl" bg_css="bg-secondary"}}	

		{{ partial:elements/templates/swatches/partials/swatches-text css_theme="text-disabled" css="font-semibold text-xl" }}
		{{ partial:elements/templates/swatches/partials/swatches-text css_theme="text-on-disabled" css="font-semibold text-xl" bg_css="bg-disabled"}}	

		{{ partial:elements/templates/swatches/partials/swatches-text css_theme="text-success" css="font-semibold text-xl" }}		
		{{ partial:elements/templates/swatches/partials/swatches-text css_theme="text-on-success" css="font-semibold text-xl" bg_css="bg-success"}}	


		
		{{ partial:elements/templates/swatches/partials/swatches-text css_theme="text-information" css="font-semibold text-xl" }}
		{{ partial:elements/templates/swatches/partials/swatches-text css_theme="text-on-information" css="font-semibold text-xl" bg_css="bg-information"}}	
		{{ partial:elements/templates/swatches/partials/swatches-text css_theme="text-warning" css="font-semibold text-xl" }}
		{{ partial:elements/templates/swatches/partials/swatches-text css_theme="text-on-warning" css="font-semibold text-xl" bg_css="bg-warning"}}	
		{{ partial:elements/templates/swatches/partials/swatches-text css_theme="text-error" css="font-semibold text-xl" }}
		{{ partial:elements/templates/swatches/partials/swatches-text css_theme="text-on-error" css="font-semibold text-xl" bg_css="bg-error"}}	
	</div>

	<div class="gap-4 grid">
		{{ partial:elements/templates/swatches/partials/icons icon_css="fill-page"}}									
		{{ partial:elements/templates/swatches/partials/icons icon_css="fill-white"}}									
		{{ partial:elements/templates/swatches/partials/icons icon_css="fill-on-white" bg_css="bg-white"}}									
		{{ partial:elements/templates/swatches/partials/icons icon_css="fill-black"}}									
		{{ partial:elements/templates/swatches/partials/icons icon_css="fill-on-black" bg_css="bg-black"}}									
		{{ partial:elements/templates/swatches/partials/icons icon_css="fill-body"}}									
		{{ partial:elements/templates/swatches/partials/icons icon_css="fill-caption"}}									
		{{ partial:elements/templates/swatches/partials/icons icon_css="fill-primary"}}									
		{{ partial:elements/templates/swatches/partials/icons icon_css="fill-on-primary" bg_css="bg-primary"}}										
		{{ partial:elements/templates/swatches/partials/icons icon_css="fill-secondary"}}									
		{{ partial:elements/templates/swatches/partials/icons icon_css="fill-on-secondary" bg_css="bg-secondary"}}

		{{ partial:elements/templates/swatches/partials/icons icon_css="fill-disabled"}}									
		{{ partial:elements/templates/swatches/partials/icons icon_css="fill-on-disabled" bg_css="bg-disabled"}}	

		{{ partial:elements/templates/swatches/partials/icons icon_css="fill-success"}}									
		{{ partial:elements/templates/swatches/partials/icons icon_css="fill-on-success" bg_css="bg-success"}}										
		{{ partial:elements/templates/swatches/partials/icons icon_css="fill-information"}}									
		{{ partial:elements/templates/swatches/partials/icons icon_css="fill-on-information" bg_css="bg-information"}}										
		{{ partial:elements/templates/swatches/partials/icons icon_css="fill-warning"}}									
		{{ partial:elements/templates/swatches/partials/icons icon_css="fill-on-warning" bg_css="bg-warning"}}										
		{{ partial:elements/templates/swatches/partials/icons icon_css="fill-error"}}									
		{{ partial:elements/templates/swatches/partials/icons icon_css="fill-on-error" bg_css="bg-error"}}																
	</div>	

</div>	

