---
blog_sidebar_wrap: 'space-y-4 p-4 lg:px-14'
---


<div class=" {{ switch((css_wrap == 'blog_sidebar_wrap') => '{{ view:blog_sidebar_wrap }}') }}">

<span class="{{ title_css }} font-semibold block lg:text-xl">{{ taxonomy from="{taxonomy_handle ?? 'categories'}" limit="1" }}{{ taxonomy:title }}{{ /taxonomy }}</span>
    <ul class="{{ list_css }}">
        {{ taxonomy from="{taxonomy_handle ?? 'categories'}" collection="{segment_1 | replace('-', '_')}"}} 
            {{ if entries_count > 0 }}
                <li class="last:mb-0 mb-2">
                    <a class="underline hover:no-underline" href="{{ url }}">{{ title }}</a> ({{ entries_count }})
                </li>
            {{ /if }}     
        {{ /taxonomy }}
    </ul>
</div>