<div class="max-w-8xl mx-auto grid grid-cols-6 gap-4 pb-4 mb-8">
	{{ partial:elements/templates/swatches/partials/swatches css="bg-neutral-50" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-neutral-100" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-neutral-200" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-neutral-300" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-neutral-400" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-neutral-500" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-neutral-600" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-neutral-700" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-neutral-800" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-neutral-900" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-neutral-950" }}
</div>
<div class="max-w-8xl mx-auto grid grid-cols-6 gap-4 pb-4 mb-8">
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-neutral-50"  }}
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-neutral-100"  }}
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-neutral-200"  }}
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-neutral-300"  }}
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-neutral-400"  }}
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-neutral-500"  }}
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-neutral-600"  }}
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-neutral-700"  }}
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-neutral-800"  }}
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-neutral-900"  }}
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-neutral-950"  }}
</div>
<div class="max-w-8xl mx-auto grid grid-cols-6 gap-4 pb-4 mb-8">
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-neutral-50"}}		
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-neutral-100"}}		
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-neutral-200"}}		
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-neutral-300"}}		
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-neutral-400"}}		
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-neutral-500"}}		
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-neutral-600"}}		
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-neutral-700"}}		
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-neutral-800"}}		
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-neutral-900"}}		
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-neutral-950"}}		
</div>