<div class="max-w-8xl mx-auto grid grid-cols-6 gap-4 pb-4 mb-8">
	{{ partial:elements/templates/swatches/partials/swatches css="bg-primary-50" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-primary-100" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-primary-200" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-primary-300" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-primary-400" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-primary-500" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-primary-600" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-primary-700" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-primary-800" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-primary-900" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-primary-950" }}
</div>
<div class="max-w-8xl mx-auto grid grid-cols-6 gap-4 pb-4 mb-8">
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-primary-50"  }}
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-primary-100"  }}
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-primary-200"  }}
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-primary-300"  }}
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-primary-400"  }}
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-primary-500"  }}
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-primary-600"  }}
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-primary-700"  }}
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-primary-800"  }}
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-primary-900"  }}
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-primary-950"  }}
</div>
<div class="max-w-8xl mx-auto grid grid-cols-6 gap-4 pb-4 mb-8">
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-primary-50"}}		
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-primary-100"}}		
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-primary-200"}}		
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-primary-300"}}		
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-primary-400"}}		
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-primary-500"}}		
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-primary-600"}}		
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-primary-700"}}		
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-primary-800"}}		
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-primary-900"}}		
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-primary-950"}}		
</div>