<div class="max-w-8xl mx-auto grid grid-cols-6 gap-4 pb-4 mb-8">
	{{ partial:elements/templates/swatches/partials/swatches css="bg-secondary-50" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-secondary-100" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-secondary-200" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-secondary-300" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-secondary-400" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-secondary-500" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-secondary-600" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-secondary-700" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-secondary-800" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-secondary-900" }}
	{{ partial:elements/templates/swatches/partials/swatches css="bg-secondary-950" }}
</div>
<div class="max-w-8xl mx-auto grid grid-cols-6 gap-4 pb-4 mb-8">
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-secondary-50"  }}
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-secondary-100"  }}
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-secondary-200"  }}
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-secondary-300"  }}
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-secondary-400"  }}
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-secondary-500"  }}
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-secondary-600"  }}
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-secondary-700"  }}
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-secondary-800"  }}
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-secondary-900"  }}
	{{ partial:elements/templates/swatches/partials/swatches css="border" css_theme="border-secondary-950"  }}
</div>
<div class="max-w-8xl mx-auto grid grid-cols-6 gap-4 pb-4 mb-8">
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-secondary-50"}}		
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-secondary-100"}}		
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-secondary-200"}}		
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-secondary-300"}}		
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-secondary-400"}}		
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-secondary-500"}}		
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-secondary-600"}}		
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-secondary-700"}}		
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-secondary-800"}}		
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-secondary-900"}}		
	{{ partial:elements/templates/swatches/partials/icons icon_css="fill-secondary-950"}}		
</div>