<div class="space-y-4">
	<p class="inline-block font-semibold text-lg ">{{ root_theme }}</p>
	<div class="{{ root_theme }} bg-white border p-4 space-y-3 contrast [&_a]:underline [&_a:hover]:no-underline">
		<h3 class="font-semibold text-xl text-heading-base">This is a heading</h3>
		<p class="text-base">Event budgets help <a href="#">organizers achieve</a> their financial goals. They detail money coming in and going out the entire way through the event lifecycle.</p>
		{{ partial:partials/button/presets/outlined :button_size="button_size" :button_theme="button_theme"}}
		</div>
</div>