
<div class="grid grid-cols-2 gap-6 p-10 bg-slate-100">
	<div class="space-y-4  bg-white p-6 [&>p>a]:underline [&>p>a]:text-highlight  [&>p>a:hover]:no-underline">
		<h2 class="text-3xl text-base font-semibold">Think big picture</h2>
		<p class="text-muted">Event budgets help <a href="#">organizers achieve</a> their financial goals. They detail money coming in and going out the entire way through the event lifecycle.</p>	
	</div>
	<div class="space-y-4 theme-dark bg-white p-6 [&>p>a]:underline [&>p>a]:text-highlight  [&>p>a:hover]:no-underline">
		<h2 class="text-3xl text-highlight font-semibold">Think big picture</h2>
		<p class="text-muted">Event budgets help <a href="#">organizers achieve</a> their financial goals. They detail money coming in and going out the entire way through the event lifecycle.</p>	
	</div>
</div>

<div class="grid grid-cols-3 gap-6 p-10 bg-slate-100">
	
	<div class="space-y-4 theme-one  bg-white p-6 [&>p>a]:underline [&>p>a]:text-highlight  [&>p>a:hover]:no-underline">
		<h2 class="text-3xl text-base font-semibold">Think big picture</h2>
		<p class="text-muted">Event budgets help <a href="#">organizers achieve</a> their financial goals. They detail money coming in and going out the entire way through the event lifecycle.</p>	
	</div>
	<div class="space-y-4 theme-two bg-white p-6 [&>p>a]:underline [&>p>a]:text-highlight  [&>p>a:hover]:no-underline">
		<h2 class="text-3xl text-base font-semibold">Think big picture</h2>
		<p class="text-muted">Event budgets help <a href="#">organizers achieve</a> their financial goals. They detail money coming in and going out the entire way through the event lifecycle.</p>	
	</div>
	<div class="space-y-4 theme-three bg-white p-6 [&>p>a]:underline [&>p>a]:text-highlight  [&>p>a:hover]:no-underline">
		<h2 class="text-3xl text-base font-semibold">Think big picture</h2>
		<p class="text-muted">Event budgets help <a href="#">organizers achieve</a> their financial goals. They detail money coming in and going out the entire way through the event lifecycle.</p>	
	</div>

	


</div>