{{ section:breadcrumbs }}
    {{ partial:partials/breadcrumbs/breadcrumbs }}
{{ /section:breadcrumbs }}
<div class="space-y-4 max-w-8xl mx-auto pb-4">

	{{ partial:elements/templates/notify-banners/partials/notify-banner text="This is an example primary banner" }}
	{{ partial:elements/templates/notify-banners/partials/notify-banner text="This is an example secondary banner" css_theme="bg-secondary text-on-secondary hover:bg-secondary-action hover:text-white" }}
	{{ partial:elements/templates/notify-banners/partials/notify-banner text="This is an example white banner" css_theme="bg-white text-on-white hover:bg-white-action " }}
	{{ partial:elements/templates/notify-banners/partials/notify-banner text="This is an example black banner" css_theme="bg-black text-on-black hover:bg-black-action hover:text-white" }}
	{{ partial:elements/templates/notify-banners/partials/notify-banner text="This is an example success banner" css_theme="bg-success text-on-success" }}
	{{ partial:elements/templates/notify-banners/partials/notify-banner text="This is an example warning banner" css_theme="bg-warning text-on-warning" }}
	{{ partial:elements/templates/notify-banners/partials/notify-banner text="This is an example error banner" css_theme="bg-error text-on-error" }}
	{{ partial:elements/templates/notify-banners/partials/notify-banner text="This is an example information banner" css_theme="bg-information text-on-information" }}

</div>