{{# https://github.com/statamic/cms/issues/10896 #}}
{{# https://discord.com/channels/489818810157891584/489818810157891586/1291335097819201589 #}}
{{# https://discord.com/channels/489818810157891584/489818810157891586/1291335097819201589 #}}

	{{ if logged_in }}
	<a class=" text-black fixed left-6 bottom-6 inline-flex items-center bg-green-300 no-underline py-2 text-sm font-semibold uppercase px-3 hover:bg-green-500 hover:text-neutral-800" target="_blank" href="{{ edit_url }}">Edit Page{{ partial:partials/icon/icon }}</a>
	{{ /if }}

