{{ section:breadcrumbs }}
    {{ partial:partials/breadcrumbs/breadcrumbs }}
{{ /section:breadcrumbs }}
<div class="max-w-8xl mx-auto grid grid-cols-2 gap-10">
	


	<div class="">	
		<div class="space-y-14 pb-10">		
			{{ partial:elements/templates/typography/partials/type-example font_size="text-7xl"}}	
			{{ partial:elements/templates/typography/partials/type-example font_size="text-6xl"}}	
			{{ partial:elements/templates/typography/partials/type-example font_size="text-5xl"}}	
			{{ partial:elements/templates/typography/partials/type-example font_size="text-4xl"}}	
			{{ partial:elements/templates/typography/partials/type-example font_size="text-3xl"}}	
			{{ partial:elements/templates/typography/partials/type-example font_size="text-2xl"}}	
			{{ partial:elements/templates/typography/partials/type-example font_size="text-xl"}}	
			{{ partial:elements/templates/typography/partials/type-example font_size="text-base"}}	
			{{ partial:elements/templates/typography/partials/type-example font_size="text-sm"}}	
			{{ partial:elements/templates/typography/partials/type-example font_size="text-xs"}}	
		</div>	
	</div>

	<div class="">	
		<div class="space-y-14 pb-10">		
			{{ partial:elements/templates/typography/partials/type-example font_size="text-7xl" font_weight="font-semibold"}}	
			{{ partial:elements/templates/typography/partials/type-example font_size="text-6xl" font_weight="font-semibold"}}	
			{{ partial:elements/templates/typography/partials/type-example font_size="text-5xl" font_weight="font-semibold"}}	
			{{ partial:elements/templates/typography/partials/type-example font_size="text-4xl" font_weight="font-semibold"}}	
			{{ partial:elements/templates/typography/partials/type-example font_size="text-3xl" font_weight="font-semibold"}}	
			{{ partial:elements/templates/typography/partials/type-example font_size="text-2xl" font_weight="font-semibold"}}	
			{{ partial:elements/templates/typography/partials/type-example font_size="text-xl" font_weight="font-semibold"}}	
			{{ partial:elements/templates/typography/partials/type-example font_size="text-base" font_weight="font-semibold"}}	
			{{ partial:elements/templates/typography/partials/type-example font_size="text-sm" font_weight="font-semibold"}}	
			{{ partial:elements/templates/typography/partials/type-example font_size="text-xs" font_weight="font-semibold"}}	
		</div>	
	</div>




	


	


</div>

