{{ partial:partials/common/_intro
    {{# DATA ----------------- #}}
	:intro="intro"
	{{# OPTIONS -------------- #}}
	:handle_prefix="handle_prefix"
	:intro_truncate="intro_truncate"
	:intro_truncate_chars="intro_truncate_chars"
	{{# CSS ----------------- #}}
	:intro_css="intro_css"
}}

{{ partial:partials/common/_intro
    {{# DATA ----------------- #}}
	intro=""
	{{# OPTIONS -------------- #}}
	handle_prefix=""
	intro_truncate=""
	intro_truncate_chars=""
	{{# CSS ----------------- #}}
	intro_css=""
}}