<div class="grid mx-auto max-w-8xl gap-6">
{{ partial:partials/wireframe/section title="Hero"}}
{{ partial:partials/wireframe/section title="L.B. Foster Our Five Core Competencies"}}
{{ partial:partials/wireframe/section title="Icons + text"}}
{{ partial:partials/wireframe/section title="Accreditations & Awards Logos"}}
{{ partial:partials/wireframe/section title="Text + Partnerships Logo"}}
{{ partial:partials/wireframe/section title="Our culture + people photo carrousel"}}
{{ partial:partials/wireframe/section title="Global Coverage: Map + No of Countries"}}
</div>



