<div class="grid mx-auto max-w-8xl gap-6">
{{ partial:partials/wireframe/section title="Hero"}}
{{ partial:partials/wireframe/section title="Introduction"}}
</div>


{{ partial:partials/wireframe/title title="Services" }}

<div class="grid grid-cols-4 mx-auto max-w-8xl gap-6">
	{{ partial:partials/wireframe/section title="Retail"}}
	{{ partial:partials/wireframe/section title="Automotive"}}
	{{ partial:partials/wireframe/section title="Gyms"}}
	{{ partial:partials/wireframe/section title=" Hospitality"}}
	{{ partial:partials/wireframe/section title="Transport"}}
	{{ partial:partials/wireframe/section title="Cinema"}}
	{{ partial:partials/wireframe/section title="Event Spaces "}}
	{{ partial:partials/wireframe/section title="... "}}
</div>


{{ partial:partials/wireframe/title title="Services" }}

<div class="grid grid-cols-4 mx-auto max-w-8xl gap-6">
	{{ partial:partials/wireframe/section title="Account & Project Management "}}
	{{ partial:partials/wireframe/section title="Content Development,"}}
	{{ partial:partials/wireframe/section title="Design "}}
	{{ partial:partials/wireframe/section title="... "}}
</div>

