<div class="grid mx-auto max-w-8xl gap-6">
{{ partial:partials/wireframe/section title="Hero"}}
{{ partial:partials/wireframe/section title="Introduction"}}
</div>


{{ partial:partials/wireframe/title title="Solutions" }}

<div class="grid grid-cols-4 mx-auto max-w-8xl gap-6">
	{{ partial:partials/wireframe/section title="Digital Menu "}}
	{{ partial:partials/wireframe/section title="Telekinetic Lighting"}}
	{{ partial:partials/wireframe/section title="Retail Media"}}
	{{ partial:partials/wireframe/section title="Scent Marketing "}}
	{{ partial:partials/wireframe/section title="Solution #5 "}}
	{{ partial:partials/wireframe/section title="Solution #6 "}}
	{{ partial:partials/wireframe/section title="Solution #7 "}}
	{{ partial:partials/wireframe/section title="Solution #8 "}}
</div>


{{ partial:partials/wireframe/title title="Case Studies" }}

<div class="grid grid-cols-4 mx-auto max-w-8xl gap-6">
	{{ partial:partials/wireframe/section title="Case Study #1 "}}
	{{ partial:partials/wireframe/section title="Case Study #2 "}}
	{{ partial:partials/wireframe/section title="Case Study #3 "}}
	{{ partial:partials/wireframe/section title="Case Study #41 "}}
</div>

