{{ entries_field limit="2"}}
<div class="sm:basis-[49%] lg:flex lg:items-center lg:bg-white">

    <picture class="lg:shrink-0 lg:basis-40 xl:basis-48"> 
         
            {{ partial:glide/partials/4x3 
                :url="blog_featured_image"
                lazy="true"
              media_attr="max-width:1023px"
              sizes="                                   
              (min-width: 640px) 768px,
              (min-width: 425px) 425px, 
              (min-width: 375px) 375px, 
              (min-width: 320px) 320px, 320px" 
                 
            }}
            {{ partial:glide/partials/1x1 
                :url="blog_featured_image"
                lazy="true"
              media_attr="min-width:1024px"
              sizes="                                  
              (min-width: 1024px) 768px, 768px"
            }}
            
            <img src="{{ glide:blog_featured_image preset='w375_hx_wp' }}"  width="768" height="576"  alt="{{ blog_featured_image:alt | ensure_right('.') }}">
      
    </picture>

    <div class="bg-white p-4 space-y-4">
      
        {{ partial:partials/common/title
          section_title="{title}"
          h_tag="h3"
          
          use_url="true"
          style_title="blog"
        }}
        {{# <span class="mt-4 block text-xs">#}}
            {{# date format="jS F Y" #}}
        {{#</span> #}}

        {{ partial:partials/button/button               
            no_tabindex="true"
            link_type="url"
            url="{url}"
            button_text="Read more"
            icon_svg="arrow_thin"
            size="sm"
            style="lightgrey"
        }}
    </div>
</div>
{{ /entries_field }}

   
  {{# 
  sizes="
      (min-width: 1280px) 600px,
      (min-width: 1024px) 1024px, 
      (min-width: 768px) 768px,
      (min-width: 425px) 425px, 
      (min-width: 375px) 375px, 
      (min-width: 320px) 320px, 320px"                
  The value after min-width E.g. (min-width: 1024px) 1024px, is how wide the image needs to be at that breakpoint, it doesn't have to match the value of min-width: 1024px. It could be (min-width: 1024px) 512px. This tells the browser when the viewport is at least 1024px wide the image will need 512px. The browser then looks in the srcset, and picks the image that best fits the space. This is based on the width of the image and the screen density.
#}}